.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        display: flex;
        margin : 0 100px;

        .content-left {
            width        : 20%;
            background   : center center no-repeat;
            width        : 120px;
            height       : 120px;
            border-radius: 50%;
            margin       : 10px 20px;
        }

        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding       : 10px;

            .up {
                font-size  : 20px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px
            }
        }
    }

    .detail-infor-doctor {
        border-top      : 1px solid #ccc;
        border-bottom   : 1px solid #ccc;
        padding         : 15px 100px;
        background-color: #f9f9f9;

        img {
            width: 100%
        }

        h3 {
            font-size: 20px;
        }
    }

    .comment-doctor {
        height: 50px;
    }
}