.Img-container {

    .upload {
        padding      : 5px;
        border-radius: 5px;
        background   : #ddd;
        cursor       : pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .preview-image {
        height         : 50px;
        width          : 100%;
        background     : center center no-repeat;
        background-size: contain;
        cursor         : pointer;
    }
}