.login-background {
    // background: rgb(34, 193, 195);
    height    : 100vh;
    background: linear-gradient(20deg, rgb(190, 35, 196) 0%, rgb(66, 45, 253) 100%);

    .login-container {
        width           : 400px;
        height          : 500px;
        margin          : auto;
        border-radius   : 15px;
        background-color: white;
        position        : absolute;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
    }

    .login-content {
        padding: 10px;

        .text-login {
            text-align : center;
            font-size  : 24px;
            font-weight: 600;
            padding-top: 10px;
        }

        .login-input {
            margin: 7px 0;

            .eye-password {
                position: relative;

                i {
                    position: absolute;
                    right   : 5px;
                    top     : 7px;
                    cursor  : pointer;
                }
            }
        }

        .btn-login {
            width        : 100%;
            margin       : 10px 0;
            height       : 30px;
            border-radius: 20px;
            outline      : none;
            border       : none;
            color        : white;
            background   : linear-gradient(20deg, rgb(190, 35, 196) 0%, rgb(66, 45, 253) 100%);

        }

        .forgot-password {
            font-size: 12px;
        }

        .social-login {
            display        : flex;
            text-align     : center;
            justify-content: center;
            margin-top     : 10px;

            .google {
                font-size      : 30px;
                background     : #c32424;
                border-radius  : 50%;
                height         : 50px;
                width          : 50px;
                display        : flex;
                align-items    : center;
                justify-content: center;
                color          : white;
                margin-right   : 10px;
            }

            .facebook {
                font-size      : 30px;
                background     : #307aaf;
                border-radius  : 50%;
                height         : 50px;
                width          : 50px;
                display        : flex;
                align-items    : center;
                justify-content: center;
                color          : white;
            }
        }

        input {
            width: 100%;
        }
    }
}